.video-info {
  margin: 0 1.3em;
}

.view-count-title {
  padding: 0.1em 0;
  font-size: 2em;
  text-align: center;
}

.view-count {
  padding: 0.3em 0;
  color: red;
  font-size: 5em;
  text-align: center;
  font-weight: 700;
}

h1 {
  color: blue;
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .view-count {
    font-size: 4em;
  }
}

@media only screen and (max-width: 400px) {
  .view-count {
    font-size: 3em;
  }
}
