.video-title {
  margin: 1em;
}

.video-title h1 {
  color: blue;
  font-size: 28px;
  text-align: center;
}

.video-title h2 {
  font-size: 20px;
}

.video-title h1 a {
  text-decoration: none;
  color: inherit;
}
